.CCCard {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    background-color: white;
    font-family: "Comic Sans MS";
    width: fit-content;
}

.CCCard:hover {
}

h2 {
    font-size: large;
    font-family: "Comic Sans MS";
}

.CCCImage img {
    max-height: 300px;
    max-width: 300px;
}

button {
    background-color: #ffffff;
    border: solid #3b5998;
    border-width: 2px;
    color: #3b5998;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #3b5998;
    color: #ffffff;
}
