.CCard {
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    background-color: white;
    font-family: "Comic Sans MS";
}

h2 {
    font-size: large;
    font-family: "Comic Sans MS";
}

.CCImage img {
    max-height: 300px;
    max-width: 300px;
}

