.App {
  text-align: center;
  background-color: #a3d5cd;
  font-family: Verdana, sans-serif;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




